<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/style.css" type="text/css" />
    <title>Eat-Da-Burger!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="../../assets/startUp.js"></script>
  </head>

  <body>
      <div>

      {{{ body }}}

      </div>
      <hr>
      
      <footer class=" center footer">
        <div class="container">
          <p><a href="https://github.com/GitJoeCode/burger">gitHub repo</a></p>
        </div>
      </footer>
  </body>
</html>