.jumbotron {
    background-image: url("../images/burger_emoji.jpg");
    background-repeat: no-repeat;
    background-position: right;
    max-height: 240px;
    position: relative;
    padding-bottom: 6;
    padding-top: 0;
}

h1 {
    font-size: 220px;
}

.panelheading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#newburger {
    border-radius: 5px;
}

#lefthead {
    background-color:teal;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #ce2522;
    color: white;
    text-align: center;
    font-size: 1.5em;
}